.emissary {
    display: inline-block;
    text-align: center;
    vertical-align:middle;
    font-family: PragRoman,Georgia,serif;
    font-variant: small-caps;
    color: #cdf9d9;
}

img.emissary {
    max-width: 100%;
    width: 100px;
    height: auto;
    padding: 5px;
}

.emissary-panel {
    border: 5px #cdf9d9;
    border-style: solid;
    margin-top: 15px;
    width: 1000px;
}

.emissary-desc {
    width: 825px;
}

.root {
    background-color: #002a26;
}

.emissary-list {
    width : 1000px;
    margin-left: auto;
    margin-right: auto;
}